# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
TODO.txt

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# specs,architecture and configuration (keep private)
/specs
design.md
tasks.md

# Documentation files (keep private)
*.md
!README.md

# Environment files (keep private)
.env
.env.local
.env.*.local
!.env.example

# Database & SQL files (keep private)
*.sql
!example.sql